django
django-cors-headers 
djangorestframework                 
sqlparse            
psycopg2
dj-database-url
gunicorn
whitenoise
poetry
pycountry
pillow

zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
